* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: blue;
}
.main {
  /* border: 2px solid blue; */
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
 
}
.nav-bar {
  /* border: 2px solid black; */
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px 0px 80px;
}
.nav-sylvan {
  /* border: 2px solid black; */
  width: 27%;
  min-width: 293px;
  height: 100%;
  background-color: white;
  font-size: 32px;
  color: #fca311;
  padding-top: 25px;
  box-sizing: border-box;
  text-align: center;
}
.nav-item2 {
  /* border: 2px solid black; */
  width: 28%;
  min-width: 405px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  width: max-content;
  text-align: center;
  font-size: 16px;
}
.home {
  /* border: 2px solid black; */
  color: #fca311;
}
.case {
  /* border: 2px solid black; */
  color: black;
}
.contact {
  /* border: 2px solid black; */
  box-sizing: border-box;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  background-color: #fca311;
  color: white;
  padding-top: 15px;
  font-size: 16px;
}
.full-screen{
  border: 2px solid black;
  width: 100%;
  height: 490px;
  display: flex;
  justify-content: center;
  gap: 40px;
 }
 .parrent-of-screen-text{
  /* border: 2px solid green; */
  width: 42%;
  padding-top: 106px;
}
.screen-text{
  border: 2px solid red;
  box-sizing: border-box;
  width: 100%;
  height:77%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  
}
h1{
  /* border: 2px solid black; */
  width: 100%;
  font-size: 52px;
  line-height: 54px;
  color: black;
}
h3{
  /* border: 2px solid black; */
  box-sizing: border-box;
  width: 80%;
   font-size: 37px;
   line-height: 40px;
   color:black;
}
.color-text{
  color:#fca311;
}
button{
  /* border: 2px solid black; */
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background-color: #fca311;
  color:white;
  
}
.screen-img{
border:2px solid black;
box-sizing: content-box;
width: 38%;
background-image: url("boy1.png");
background-size: cover;
background-position: center;
margin-top: 79px;

}
.small-box-of-img{
  /* border: 2px solid #F5F5F5; */
  box-sizing: border-box;
  border-radius: 20px;
  /* width: 150px;
  height: 120px; */
  width: 9%;
  height: 22%;
  background-color: green;
  position: absolute;
  /* top: 130px;
  left: 685px; */
  left:58%; 
  top:22%; 
  z-index: 1;
  background-image: url("Frame 15.png");
  background-size: cover;
  background-position: center;
}
.small-box-of-img2{
/* border: 2px solid #F5F5F5; */
box-sizing: border-box;
border-radius: 20px;
/* width: 150px;
height: 120px; */
width: 9%;
  height: 22%;
background-color: red;
position: absolute;
/* top: 309px;
left: 911px; */
top:52%;
left: 78%;
z-index: 2;
background-image: url("Frame 15.png");
background-size: cover;
background-position: center;
}
.small-box-of-img3{
/* border: 2px solid #F5F5F5; */
box-sizing: border-box;
border-radius: 20px;
/* width: 150px;
height: 120px; */
width: 9%;
  height: 22%;
background-color: blue;
position: absolute;
        /* top: 340px;
        left: 645px; */
        top:57%;
        left: 54%;
z-index: 4;
background-image: url("Frame 15.png");
background-size: cover;
background-position: center;
color:white;
}
.small-box-of-img4
{
border: 2px solid #F5F5F5;
box-sizing: border-box;
border-radius: 20px;
/* width: 150px;
height: 120px; */
width: 9%;
  height: 22%;
background-color: pink;
position: absolute;
/* top: 448px;
left: 871px; */
top:77%;
left: 72%;
z-index: 5;
}
