* {
    margin: 0;
    padding: 0;
}

.full-screen {
    /* border: 2px solid green; */
    width: 100%;
    height: 1083px;
    height: 100vh;
    min-width: 855px;

}

.color {
    color: red;
    font-size: 40px;
}

.navbar {
    /* border: 5px solid pink; */
    border-bottom: 1px solid gray;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 29px;
    background-color: #FFFFFF;
    margin-bottom: 47px;
}

.nav-nordic {
    /* border: 2px solid green; */
    width: 43%;
    font-size: 45px;
    padding-left: 3%;
}

.nav-list {
    /* border: 2px solid red; */
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    padding-right: 3%;
    
}
.list-blog {
    /* border: 2px solid black; */
    width: 55px;
    position: relative;

}
.list-blog::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    /* display: block; */
    /* margin: auto; */
    position: absolute;
    left: 0;
    top:70px;
}

.nav-list-burger {
    display: none;
}

.outside-border-img1 {
    /* border: 5px solid brown; */
    width: 100%;
    height: 50%;

}

.center-img {
    /* border: 2px solid blue; */
    width: 59%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    padding-left: 21%;
    padding-right: 20%;

}

.a-few {
    /* border: 2px solid black; */
    width: 59%;
    font-size: 60px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    margin-left: 21%;
    margin-right: 20%;
    margin-top: 5%;
}

.Why-ghost-text {
    /* border: 2px solid black; */
    width: 39%;
    padding-left: 31%;
    padding-right: 30%;
    font-size: 27px;
    line-height: 34px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    position: relative;
    margin-top: 59px;
}

.Why-ghost-text::after {
    content: '';
    height: 2px;
    width: 42%;
    background-color: black;
    position: absolute;
    left: 0px;
    bottom: -30px;
    margin-left: 29%;
    margin-right: 29%;
}

.all-articles {
    /* border: 2px solid black; */
    font-size: 44px;
    font-weight: 700;
    line-height: 53px;
    text-align: center;
    margin-top: 90px;
}

.img-box {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 75px;
}

.parrent-of-img1 {
    /* border: 2px solid red; */
    width: 22%;
    margin-left: 28%;
}

.parrent-of-img2 {
    /* border: 2px solid red; */
    width: 22%;
    margin-right: 28%;
}
.img-here-are {
    /* border: 1px solid black; */
    width: 100%;
    height: 176px;
}
.img-size2{
    display: none;
}

.img-here-are img {
    object-fit: cover;
    object-position: center;
}

.img-heading {
    /* border:1px solid black; */
    width: 100%;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #000000;
    width: 100%;
    margin-top: 75px;
}

.footer-list {
    /* border: 2px solid black; */
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

.footer-item-bold {
    color: white;
    font-size: 15px;
    font-weight: bold;

}

.footer-item {
    color: white;
    font-size: 12px;
}

.footer-heading {
    /* border: 2px solid wheat; */
    width: 100%;
    text-align: center;
    margin-top: 85px;
    color: white;
}

.footer-text {
    /* border: 2px solid white; */
    color: white;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    padding-left: 33%;
    padding-right: 33%;

}

.footer-three-point {
    /* border: 2px solid white; */
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 40%;
    padding-right: 40%;
    font-size: 16px;
    margin-top: 40px;
}

.twitter {
    border-bottom: 2px solid white;
}

.linkedln {
    border-bottom: 2px solid white;
}

.RSS {
    border-bottom: 2px solid white;
}

.footer-date {
    /* border: 2px solid white; */
    font-size: 12px;
    line-height: 17px;
    font-weight: 500;
    text-align: center;
    color: white;
    text-align: center;
    padding: 70px 44% 50px 44%;

}

@media screen and (max-width:375px) {
    .nav-list-item {
        display: none;
    }

    .nav-list {
        width: 5%;
    }
    .nav-list-burger{
        display: block;
    }

    .center-img {
        width: 100%;
        padding: 0;

    }

    .a-few {
        width: 90%;
        padding: 0;
        margin: 0;
        padding: 70px 5% 0 5%;
    }

    .Why-ghost-text {
        width: 90%;
        font-size: 46px;
        padding: 0;
        line-height: 70px;
        padding: 0 5% 0 5%;
    }

    .Why-ghost-text::after {
        content: '';
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .all-articles {
        font-size: 80px;
    }

    .hidden-box {
        display: none;
    }

    .parrent-of-img1 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .img-here-are {
        height: 400px;
    }

    .img-heading {
        width: 80%;
        margin: 0;
        padding: 0;
        font-size: 50px;
        line-height: 50px;
        padding-left: 10%;
        padding-right: 10%;
        padding: 50px 10% 0px 10%;
    }

    .footer-hidden-point {
        display: none;
    }

    .footer-top-center-point {
        font-size: 35px;
    }

    .footer-three-point {
        padding: 0;
        margin: 0;
        padding: 40px 37% 0px 37%;
    }
        
            .img-size2{
                display: block;
            }
            .img-size{
                display:none;
                  }                 
              
}